/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:'Istok Web', sans-serif;
	background:#EDEEEE;
}

.login{
	margin-right:10px;
}
.login ul li{
	float:right;
	margin-left:10px;
	font-size:14px;
}
.wrap{
	width:1050px;
	margin:0 auto;
}
.header{
	padding-top:15px;
	background:#FFF;
	/*height:700px;*/
}
.header_top{
	background:#C2D1D7;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0;
}
.logo{
	float:left;
	padding-top:5px;
}
.menu{
	float:right;
	margin-top:40px;
	margin-right: 15px; 
}
.menu li{
	display: inline;
}
.menu li a{
	color:#124D6B;
	font-size:14px;
	font-weight:600;
	padding:11px 30px;
	border-radius:0.2em;
	font-family:"微软雅黑";
}
.menu li a:hover{
	background:#FFF;
}
.menu li.active a{
	background:#FFF;
}

.main{
	padding:30px 15px;
	background:#FFF;
}


.tr_wrap{
	background:#FFF;
	width:1000px;
	margin:auto;
}
.select{
	margin-top:15px;
	margin-right:30px;
}
.select li{
	float:right;
	display:block;
	padding-left:30px;
}
.select li a{
	color:#666;
}
.hr{
	width:1000px;
	margin:auto;
	
}


.on{
	color:#666;
    padding: 0 20px;
    margin-right: 2px;
    margin-top: 1px;
    float:right;
    border: 1px solid #FFF;/*设置边框*/
    border-bottom: 0;/*不显示底部边框*/
    cursor: pointer;/*手势*/
    height: 33px;
    line-height: 32px;
    position: relative;
    z-index: 100;/*叠放次序*/
}
.off{
	color: #C2D1D7;
    height: 33px;
    margin-right: 2px;
    line-height: 33px;
    padding: 0 20px;
    float:right;
    background: url(file:///D|/USwebsite/tabs_0.gif) repeat-x left bottom;/*非当前选项卡的背景图*/
    border: 1px solid #FFF;
    cursor: pointer;
    position: relative;
    z-index: 20;
}
.show {/*显示详情的样式表*/
   /* clear: left;*/
    background: #fff;
   /* width: 708px;*/
    margin-top: 0px;
    /*top: -1px;*/
/*	border-bottom:1px solid #987cb9;
	border-left:1px solid #987cb9;
	border-right:1px solid #987cb9;*/
    padding: 20px;
    position: relative;
    z-index: 50;
    font: 11px verdana, arial, sans-serif;
	height:500px;
}
.hide {/*不显示详情的样式表*/
    display: none;
    width: 0;
    overflow: hidden;
	float:left;
}
.show span{
	font-family:"微软雅黑";
	font-size:16px;
	margin-top:-60px;
}

/**/
#user_info tr{
	line-height:30px;
}
#user_info option{
	font-size:15px;
	color:#666;
	vertical-align:top;
	padding:5px 0;
}
#user_info th{
	font-size:15px;
	color:#666;
	text-align:right;
	vertical-align:top;
	padding:5px 0;
}
#user_info td{
	padding:2px 50px;
}
#user_info input[type="text"]{
	font-size:12px;
	color:#888;
	width:250px;
	padding:3px;
	border: 1px solid rgb(223, 217, 217);
	font-family:'Istok Web', sans-serif;
	outline: none;
}

#user_info input[type="submit"]{
	margin:15px 75px;
	border-radius: 4px;
	box-shadow: #d07400 0 2px 0px, rgba(0, 0, 0, 0.3) 0 3px 3px;
	background: rgb(255,183,0);
	background: -moz-linear-gradient(top, rgba(255,183,0,1) 0%, rgba(255,140,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,0,1)), color-stop(100%,rgba(255,140,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff8c00',GradientType=0 );
	border: 1px solid #e59500;
	font-size: 13px;
	color: #fff;
	font-weight:bold;
	padding: 7px 20px 9px;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#user_info input[type="submit"]:hover{
	background: rgb(255,203,72);
    background: -moz-linear-gradient(top,  rgba(255,203,72,1) 0%, rgba(255,156,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,72,1)), color-stop(100%,rgba(255,156,35,1)));
    background: -webkit-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
}
#user_info input[type="submit"]:active{
	box-shadow: #c46d00 0 2px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;
}

#user_info input[type="reset"]{
	margin:15px 75px;
	border-radius: 4px;
	box-shadow: #d07400 0 2px 0px, rgba(0, 0, 0, 0.3) 0 3px 3px;
	background: rgb(255,183,0);
	background: -moz-linear-gradient(top, rgba(255,183,0,1) 0%, rgba(255,140,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,0,1)), color-stop(100%,rgba(255,140,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	background: linear-gradient(top, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff8c00',GradientType=0 );
	border: 1px solid #e59500;
	font-size: 13px;
	color: #fff;
	font-weight:bold;
	padding: 7px 20px 9px;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#user_info input[type="reset"]:hover{
	background: rgb(255,203,72);
    background: -moz-linear-gradient(top,  rgba(255,203,72,1) 0%, rgba(255,156,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,72,1)), color-stop(100%,rgba(255,156,35,1)));
    background: -webkit-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
}
#user_info input[type="reset"]:active{
	box-shadow: #c46d00 0 2px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;
}
